@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("../node_modules/bootstrap/scss/bootstrap.scss");
@import url("https://use.fontawesome.com/releases/v5.13.1/css/all.css");
header {
  color: silver !important;
  text-shadow: 2px 2px #0a5ea3;
}

.navbar-brand {
  color: silver !important;
}

.nav-link {
  color: silver !important;
}

.nav-link:hover {
  color: white !important;
}

h5 {
  color: silver;
  text-shadow: 2px 2px #0a5ea3;
  font-size: 1.3rem;
}

p {
  color: black;
  text-shadow: none;
}

.navbar {
  background-color: #0a5ea3;
}

#RC_h1 {
  font-family: 'Metal Mania', cursive;
  margin: 15px;
  font-size: 4em;
}

.footer a {
  position: relative;
  z-index: 1;
}

.footer a:hover {
  color: silver;
}

.footer a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #0a5ea3;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

.footer a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
  -webkit-animation: fill 1.5s ease-in forwards;
}

.container {
  margin-bottom: 5%;
}

#reviews {
  text-align: center;
  color: #0a5ea3;
  text-shadow: 2px 2px silver;
  font-family: 'Metal Mania', cursive;
}

.card {
  background-color: #c5f1ff;
  border: #0a5ea3 solid 2px;
  margin: 15px 15px;
  height: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.card img {
  height: 55%;
  border: #0a5ea3 solid 2px;
  overflow: hidden;
}

.testimonial-img {
  width: 35% !important;
  margin: 5% auto;
  border: 3px ridge silver;
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}

.test-card {
  background-color: #c5f1ff;
  border: #0a5ea3 solid 2px;
  margin: 15px 15px;
  height: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  text-align: center;
  border-radius: 45px;
}

.btn {
  background-color: #0a5ea3;
  color: silver;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  margin-right: 5px;
}

@media only screen and (max-width: 900px) {
  hr {
    width: 100%;
  }
  .footer {
    margin-bottom: 1em;
  }
  .footer-grid {
    display: block;
    flex-direction: column;
  }
}

.footer {
  align-content: center;
  margin-bottom: 3em;
  flex: 1;
}

.footer-grid {
  display: flex;
}

.main-footer {
  padding: 3em 0em 0.9em 0em;
}

.copyright {
  clear: left;
  text-align: center;
}

#carousel {
  color: #0a5ea3;
  text-align: center;
  font-family: cursive;
  text-shadow: 2px 2px silver;
}
