@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("../node_modules/bootstrap/scss/bootstrap.scss");
@import url("https://use.fontawesome.com/releases/v5.13.1/css/all.css");
html {
  scroll-behavior: smooth;
}

header {
  color: silver !important;
  text-shadow: 2px 2px #0a5ea3;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar-brand {
  color: silver !important;
  padding-left: 15%;
  font-size: 2em;
  text-shadow: 1px 1px #0a5ea3;
}

nav ul li {
  margin-left: 30%;
}

.nav-link {
  color: silver !important;
  text-shadow: 1px 1px #0a5ea3;
  margin-right: 10%;
  font-size: 1.2em;
  font-weight: bold;
}

.nav-link:hover {
  color: white !important;
  text-shadow: 1px 1px black;
}

hr {
  border: 1px solid #0a5ea3;
}

h5 {
  color: silver;
  text-shadow: 2px 2px #0a5ea3;
  font-size: 1.3rem;
}

.jumbotron {
  height: 100%;
  position: relative;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.scroll {
  position: relative;
}

.intro {
  color: silver;
  text-shadow: 1px 1px #063861;
  font-size: 1.2rem;
  position: relative;
  text-align: center;
}

.intro-row {
  margin: 80px;
  margin-right: 0;
}

.intro-gif {
  border: 2px solid #0a5ea3;
  width: 100%;
}

footer {
  position: relative;
}

p {
  color: silver;
  text-shadow: none;
}

.card-text {
  color: #000;
}

#RC_h1 {
  font-family: 'Metal Mania', cursive;
  font-size: 4em;
  margin: 100px;
}

.footer a {
  position: relative;
  z-index: 1;
}

.footer a:hover {
  color: silver;
}

.footer a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #0a5ea3;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

.footer a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
  -webkit-animation: fill 1.5s ease-in forwards;
}

.container {
  margin: auto;
  margin-bottom: 5%;
}

#reviews {
  text-align: center;
  color: silver;
  text-shadow: 2px 2px #0a5ea3;
  font-family: 'Metal Mania', cursive;
  margin: 100px;
}

.card {
  background-color: #c5f1ff;
  border: #0a5ea3 solid 2px;
  margin: 5px 5px;
  height: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.card img {
  height: 55%;
  border: #0a5ea3 solid 2px;
  overflow: hidden;
}

.testimonial-img {
  width: 35% !important;
  margin: 5% auto;
  border: 3px ridge silver;
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}

.test-card {
  background-color: #c5f1ff;
  border: #0a5ea3 solid 2px;
  margin: 15px 15px;
  height: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  text-align: center;
  border-radius: 45px;
}

.btn {
  background-color: #0a5ea3;
  color: silver;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  margin-right: 5px;
}

.my-pic {
  width: 70%;
  border: 3px ridge #0a5ea3;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

#port {
  text-align: center;
  font-size: 1.2rem;
  text-shadow: 1px 1px #0a5ea3;
}

@media only screen and (max-width: 900px) {
  .navbar-toggler-icon {
    background-color: #0a5ea3;
  }
  hr {
    width: 100%;
  }
  .footer {
    margin-bottom: 1em;
  }
  .footer-grid {
    display: block;
    flex-direction: column;
  }
  .intro-row {
    margin: auto;
  }
  .navbar {
    position: relative;
    top: 0;
    z-index: 10;
  }
  #RC_h1 {
    font-family: 'Metal Mania', cursive;
    font-size: 4em;
    margin: 20px;
  }
}

.footer {
  align-content: center;
  margin-bottom: 3em;
  flex: 1;
}

.footer-grid {
  display: flex;
}

.main-footer {
  padding: 3em 0em 0.9em 0em;
}

.copyright {
  clear: left;
  text-align: center;
  color: silver;
}

#carousel {
  color: silver;
  text-align: center;
  font-family: cursive;
  text-shadow: 2px 2px #0a5ea3;
  margin-bottom: 50px;
}
